:root {
	--bg-colour: white;
	--fg-colour: WhiteSmoke;
	--accent-colour: SteelBlue;
	--text-colour: black;

	--standard-padding: 10px;
	--standard-margin: 10px;
	--border-radius: 2px;
	font-family: "Montserrat", sans-serif;
	color: var(--text-colour);
}

* {
	box-sizing: border-box;
}

body {
	background-color: var(--bg-colour);
}

img {
	max-width: 100%;
	max-height: 100%;
}

hr {
	height: var(--border-radius);
	color: var(--accent-colour);
	background: var(--accent-colour);
	font-size: 0;
	border: 0;
}

@media screen and (max-width: 999px) {
	.grid-container {
		min-height: 100vh;
		margin: 0px;

		display: grid;
		grid-template-columns: minmax(100vw, 800px);
		grid-template-rows: 200px 50px auto minmax(600px, auto) auto auto;
		grid-template-areas:
			"header"
			"topbar"
			"sidebar-right"
			"main"
			"sidebar-left"
			"footer";
		row-gap: var(--standard-margin);
		column-gap: var(--standard-margin);
	}
}

@media screen and (min-width: 1000px) {
	.grid-container {
		min-height: 100vh;
		margin: 0px;

		display: grid;
		grid-template-columns: 1fr 800px 1fr;
		grid-template-rows: 200px 50px minmax(600px, auto) auto;
		grid-template-areas:
			"header header header"
			"topbar topbar topbar"
			"sidebar-left main sidebar-right"
			"footer footer footer";
		row-gap: var(--standard-margin);
		column-gap: var(--standard-margin);
	}
}

#header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	grid-area: header;
}

#topbar {
	display: flex;
	justify-content: center;
	align-items: center;
	position: sticky;
	top: 0px;

	background-color: var(--fg-colour);
	border: var(--border-radius) solid var(--accent-colour);
	border-left-style: none;
	border-right-style: none;
	grid-area: topbar;
}

#topbar > a {
	text-decoration: none;
	color: var(--text-colour);
	padding: var(--standard-padding);
	height: 100%;

	display: inline-block;
	vertical-align: middle;
}

#topbar > a:hover {
	color: var(--accent-colour);
}

#main {
	display: flex;
	flex-direction: column;
	align-items: start;
	grid-area: main;
	margin: var(--standard-margin);
}

#main > * {
	align-self: stretch;
}

#sidebar-left {
	grid-area: sidebar-left;
	align-items: end;
}

#sidebar-right {
	grid-area: sidebar-right;
	align-items: start;
}

.sidebar {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	margin: var(--standard-margin);
}

.main-text {
	line-height: 1.5;
	padding: var(--standard-padding);
	background-color: var(--fg-colour);
	border: var(--border-radius) solid var(--accent-colour);
}

#footer {
	grid-area: footer;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--fg-colour);
	border: var(--border-radius) solid var(--accent-colour);
	border-left-style: none;
	border-right-style: none;
	border-bottom-style: none;
	padding: var(--standard-padding);
	bottom: 0px;
}

li > a {
	text-decoration: none;
	color: var(--text-colour);
}

.toc {
	align-self: stretch;
	padding: var(--standard-padding);
	border: var(--border-radius) solid var(--accent-colour);
	background-color: var(--fg-colour);
}

.toc ul {
	list-style-type: none;
	padding: 0px;
	align-self: stretch;
}

.toc li {
	padding: var(--standard-padding);
	margin: var(--standard-margin);
	background-color: var(--bg-colour);
	border: var(--border-radius) solid var(--accent-colour);
	text-align: center;
}

.toc a:hover {
	color: var(--accent-colour);
}

li > a {
	width: 100%;
	display: inline-block;
}
